<div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
  <div class="grid grid-cols-1 gap-x-16 gap-y-8 lg:grid-cols-5">
    <div class="rounded-lg bg-white lg:col-span-5 lg:p-12">

      <%= form_for [:admin, :custom, @post] do |f| %>
        <div class='mb-3'>
          <%= f.label :title %>
          <%= f.text_field :title, class: 'w-full rounded-lg border-gray-200 p-3 text-sm form-control', placeholder: 'Title' %>
        </div>

        <div class='mb-3'>
          <%= f.label :description %>
          <%= f.text_area :description, class: 'w-full rounded-lg border-gray-200 p-3 text-sm form-control', placeholder: 'Description', rows: 3 %>
        </div>

        <div class='mb-3'>
          <%= f.label :status %>
          <%= f.select :status, options_for_select(Post.statuses.keys.map { |status| [status.titleize, status] }, @post.status),
            {},
            { class: 'rounded-lg border-gray-200 p-3 text-sm form-control w-50' } %>
        </div>

        <div class='mb-3'>
          <%= f.label :cover_image %>
          <%= f.file_field :cover_image, class: 'rounded-lg border-gray-200 p-3 text-sm form-control w-50' %>
        </div>

        <div class='mb-3'>
          <%= f.label :is_priority %>
          <%= f.select :is_priority, options_for_select([true, false], @post.is_priority),
            {},
            { class: 'rounded-lg border-gray-200 p-3 text-sm form-control w-50' } %>
        </div>

        <div class='mb-3'>
          <%= f.label :content %>
          <%= f.rich_text_area :content, class: 'w-full rounded-lg border-gray-200 p-3 text-sm min-h-lvh form-control' %>
        </div>

        <div class='mb-3'>
          <%= f.submit 'Submit' %>
        </div>

        <% end %>
    </div>
  </div>
</div>