<div class="col-md-6 col-xl-4 mb-5">
  <a class="card post-preview lift h-100" href="<%= post_path(post) %>">
    <img class="card-img-top" src="<%= post.cover_link %>" alt="..." />
    <div class="card-body">
      <h5 class="card-title"><%= post.title %></h5>
      <p class="card-text">Expose the truth, problem-solvers impact mobilized green spaces.<%# post.sub_title %></p>
    </div>
    <div class="card-footer">
      <div class="post-preview-meta">
        <img class="post-preview-meta-img" src="<%= default_author_avatar %>"/>
        <div class="post-preview-meta-details">
          <div class="post-preview-meta-details-name"><%= default_author %></div>
          <div class="post-preview-meta-details-date"><%= post.created_at.strftime('%d/%m/%Y %H:%M') %> &middot; 5 min read</div>
        </div>
      </div>
    </div>
  </a>
</div>
