<nav class="navbar navbar-marketing navbar-expand-lg bg-white navbar-light">
  <div class="container px-5">

    <a class="navbar-brand text-dark" href="<%= root_path %>">CUONG NGUYEN FU</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i data-feather="menu"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto me-lg-5">
        <li class="nav-item"><a class="nav-link" href="<%= posts_path %>">Blog</a></li>
        <li class="nav-item"><a class="nav-link" href="<%= resume_path %>">Resume</a></li>
        <li class="nav-item"><a class="nav-link" href="<%= projects_path %>">Portfolio</a></li>
      </ul>

      <% if current_admin %>
        <a class="btn fw-500 ms-lg-4" href="<%= admin_posts_path %>">
          Admin Dashboard
          <i class="ms-2" data - feather="arrow-right"></i>
        </a>
      <% end %>

      <a class="btn fw-500 ms-lg-4 btn-teal" href="<%= resume_path %>#contact-section">
        Contact Me
        <i class="ms-2" data-feather="arrow-right"></i>
      </a>
    </div>
  </div>
</nav>
