<!DOCTYPE html>
<html>
  <head>
    <title>MinimalBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Roboto:ital@1&display=swap" rel="stylesheet">

    <script src="https://cdn.tailwindcss.com"></script>

    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              'regal-blue': '#243c5a',
            }
          }
        }
      }
    </script>
  </head>

  <body class='root-body bg-gray-100'>
    <%= render partial: "layouts/nav" %>

    <%= yield :banner %>

    <main class="bg-gray-100">
      <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8 bg-white py-6">
        <%= yield %>
      </div>
    </main>

    <%= render partial: "layouts/footer" %>
  </body>
</html>
