<!DOCTYPE html>
<html>
  <head>
    <title>MinimalBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Just a Minimal Blog">

    <%= render partial: "layouts/meta_tags" %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag Ckeditor.cdn_url %>
  </head>

  <body>
    <div id="layoutDefault">
      <div id="layoutDefault_content">
        <%# yield :banner %>
        <main>
          <%= render partial: "layouts/nav" %>

          <%= yield %>
        </main>
      </div>

      <%= render partial: "layouts/footer" %>
    </div>
  </body>
</html>
